<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447608090352-2aho7s9rgrgird65qk123nd22750lbt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447608090352-2aho7s9rgrgird65qk123nd22750lbt6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447608090352-69cdsnjpuu3ckmvn6n7le4r8dptsrqsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx-vGVZ2B5k4qUIAuOwl9oIjVDpgd2hIU</string>
	<key>GCM_SENDER_ID</key>
	<string>447608090352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hvatai</string>
	<key>PROJECT_ID</key>
	<string>stream-984ab</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-984ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447608090352:ios:0f2d435d8db00f87d49c35</string>
</dict>
</plist>